* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 10;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(to top, #071c1b, #081d1a, #0a1e19, #0c1f18, #0f2016, #1d2e22, #2b3d2e, #3b4d3b, #5c725c, #809980, #a5c1a5, #cceccc);
}

nav {
  width: 100vw;
  height: 5rem;
  background: hrgb(165,192,164);
  justify-content: space-around;
  align-items: center;
  display: flex;
  color: whitesmoke;

  > div a {
    margin: 30px;
    color: whitesmoke;

  }

  &visited {
    color: whitesmoke;
  }
}

h1 {
  color: whitesmoke;

}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.product-item {
  text-align: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}

.product-item a {
  color: whitesmoke;
}

.footer {
  background-color: hwb(155 0% 88%);
  color: #d9cdca;
  text-align: center;
  padding: 20px;
  // position: absolute;
  bottom: 2px;
  width: 100%;
  flex-shrink: 0;

}

.headerLogo img {
  border-radius: 12px;

}

.product-name {
  font-size: 2rem;
  color:#ccc;
}

.product-image {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.product-price {
  color: rgb(240, 239, 239);
  padding: 50px;
}

.add-to-cart-button {
  background-color: green;
  color: white;
}
